.importexport {
    height: 550px;
    max-width: 100%;
    display: flex;
    position: relative;
    background: #2F4D5D;
}

.importexportCover {
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.importexportCover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.importexportHeaderText {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #ffffff;
    text-shadow: 2px 2px #00000073
}

.importTitle{
    height: 100%;
    position: relative;
    text-align: left;
}

.importTitle h1 {
    font-weight: 600;
    padding: 12px;
    color: #042B3B;
    font-size: 24px;

}

.importTitle h3{
    font-weight: 500;
    padding: 12px;
    color: #042B3B;
    font-size: 22px;
}



.importTitle h4 {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    color: #042B3B;
    line-height: 1.5;
    padding: 12px;
}

.importTitle p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: #042B3B;
    padding: 12px;
}

.importTitle ul {
    font-size: 20px;
    font-weight: 500;
    color: #042B3B;
    margin-bottom: 12px;

}

.importTitle li {
    font-size: 16px;
    font-weight: 400;
    color: #042B3B;
    width: 80%;
}

.importTitle a {
    color: #E6AF4B;
    font-weight: 500;
    text-decoration: underline;
}

.importTitle .contentBorder {
    margin-top: 2rem;
}

.contentBorder {
    border-left: 6px solid #042b3b87;
    border-radius: 2px;
}




.importExportSection {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.importSea {
    width: 50%;
    height: 100%;
    border-radius: 10px;
}

.importSeaHeader {
    width: 100%;
    height: 350px;
}

.importSeaHeader img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.importExportBody {
    width: 100%;
    height: 50%;
    text-align: left;
    padding: 12px 0;
}

.importExportBody h1 {
    font-size: 32px;
    color: #042B3B;
    padding: 12px;
    text-align: center;
    line-height: 25.6px;
}

.importExportBody p{
    font-size: 16px;
    font-weight: 400;
    padding: 0 12px;
    line-height: 1.5;
    text-align: justify;
    color: #042B3B;


}



.importAir {
    width: 50%;
    height: 100%;
    border-radius: 10px;
}

.importAirHeader {
    width: 100%;
    height: 350px;

}

.importAirHeader img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.importAirBody {
    width: 100%;
    height: 50%;
    text-align: center;
    padding: 12px 0;
}




@media screen and (max-width: 480px) {
    .importexport {
        height: 350px;
    }
    .importexportHeaderText {
        width: 100%;
        font-size: 20px;
    }

    .importExportSection {
        flex-direction: column;
    }

    .importExportBody p {
        font-size: 16px;
    }

    .importSea {
        width: 100%;
    }

    .importAir {
        width: 100%;
        margin-bottom: 2rem;
    }
    
}
