/* Header start */

.header {
    height: 88vh;
    /* max-width: 100%; */
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: #031e29;
    z-index: 1;
}


.headerLeft {
    position: relative;
    height: 100%;
    width: 100%;
}

.headerText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    text-shadow: 2px 2px #00000073;
    z-index: 10;
    margin-top: 40px;
}

.headerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem 0;
    height: auto;
}

.headerText h1 {
    color: #E6AF4B;
    font-size: 52px;
    margin: 0;
}

.headerText h2 {
    color: #ffffff;
    font-size: 32px;
    padding: 12px;
    font-weight: 600;
}

.headerText h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

/* About Start */

.aboutHome {
    display: flex;
    position: relative;
    height: 80vh;
    width: 100%;
    background-color: rgb(244, 246, 248);

}

.aboutHomeText {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 50%;
}

.aboutHomeText::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1; /* set a lower z-index */
    clip-path: circle(50% at -10% -10%);
            background-color: #e6af4b;
  }

.aboutHomeText h1 {
    color: #042B3B;
    width: 70%;
    font-weight: 600;
    font-size: 52px;
    z-index: 10;
}

.aboutHomeText h5 {
    color: #e6af4b;
    width: 70%;
    font-weight: bold;
    font-size: 36px;
    z-index: 10;


}
.aboutHomeText p {
    color: #042B3B;
    width: 70%;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    z-index: 10;
}

.aboutHomeText button {
    padding: 10px 40px 14px;
  border-radius:  0.25rem;
  border: none;
  margin-top: 12px;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
  color: #333333;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.538);
  background-color: #E6AF4B;
}

.aboutHomeText button:hover {
  transform: scale(1.05);
  background-image: linear-gradient(to bottom, #E6AF4B, #F9D49C);    transition: 0.5s ease;
}

.aboutHomeImg {
    position: relative; /* set position to relative */
    height: 100%;
    width: 50%;
  }
  
  .aboutHomeImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  

/* About End */



.headerRight {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.headerRight img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.8;
}

/* Header End */

/* Partner testimonial */
.partnerLogo {
    height: 100%;
    width: 100%;

}


  .ourService-home {
    background-color: #f4f6f8;
    height: 100%;
  }

  .ourService-home h1 {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    color: #042B3B;
    margin: 0;
    padding-top: 12px;
  }

/* Section 3 start */
.section3 {
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgb(244, 246, 248);
}

.section3Title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;


}

.section3Title h1 {
    color: #042B3B;
    font-size: 36px;
    padding: 8px;
    width: 80%;
    font-weight: 600;
    margin-top: 2rem;

}


.cardHome {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 4rem;
    border-radius: 10px;
    position: relative;
}

.cardTop {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50%;
    color: #E6AF4B;
    font-size: 72px;
    
}

.cardTop img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardTop h1 {
    font-size: 84px;
    text-align: center;
    font-weight: 400;
    color: #E6AF4B;
}

.cardContent {  
    width: 100%;
    height: 50%;
    text-align: left;
    line-height: 1.4;
}

.cardContent h3 {
    width: 80%;
    font-size: 24px;
    color: #042B3B;
}

.cardContent p {
    width: 80%;
    font-size: 18px;
    padding: 12px 0;
    color: #042B3B;
}






.homeFaqContainer {
    position: relative;
    margin-bottom: 4rem;
  }
  
  .homeFaqBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #E6AF4B 20%, #E6AF4B 80%);
    clip-path: ellipse(35% 35% at 90% 45%);
        z-index: 0;
  }
  
  .homeFaq {
    height: 500px;
    display: flex;
    position: relative;
    align-items: center;
    z-index: 10;
  }
  




/* Home form */

.homeForm {
    display: flex !important;
    flex-direction: row !important;
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url(../../images/eas-bg.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-color: #042B3B;
    
}


.homeFormRight {
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2rem;
}

@media only screen and (max-device-width: 480px) {
    .homeForm {
      background-attachment: scroll;
      background-image: none;
    }
  }



@media only screen and (max-width: 768px){  
    .homeFaq {
        height: 100%;
    }

    .about1CardText {
        margin: 0;
    }

    .about1CardText p {
        font-size: 14px;
        width: 80%;
        overflow: hidden;

    }


}



@media only screen and (max-width: 480px) {
    .header {
        flex-direction: column-reverse;
        height: 85vh;
    }

    .headerText {
        width: 100%;
        justify-content: center;
    }
    .headerText h1 {
        width: 80%;
        padding: 0;
    }
    .headerText h3 {
        width: 80%;
        font-size: 16px;
    }
    .headerText h2 {
        font-size: 20px;
        width: 80%;
    }
    .headerBtn {
        justify-content: center;
        margin-bottom: 2rem;
        font-size: 12px;
    }

    .headerLeft {
        display: flex;
    }

    .aboutHome {
        height: 100%;
        flex-direction: column;
    }
    .aboutHomeText {
        align-items: center;
        text-align: start;
        width: 100%;
    }
    .aboutHomeText h1 {
        font-size: 28px;
        margin-top: 4rem;
        width: 80%;
    }

    .aboutHomeText p {
        font-size: 18px;
        width: 80%;
    }

    .aboutHomeImg {
        width: 100%;
    }

    .left {
        width: 100%;
        height: 100%;
        align-items: flex-end;
    }

    .top2 {
        width: 100%;
        height: 100%;
    }

    .btm2 {
        width: 100%;
        padding: 0 12px;
    }

    .btm2 h1 {
        display: none;
    }

    .btm2 h3 {
        font-size: 16px;
    }



    .about1Cards {
        flex-direction: column;
    }

    .about1Card {
        width: 100%;
        height: 300px;
    }

    .about1CardText {
        margin: 0;
    }

    .about1CardText h1 {
        width: 100%;
    }

    .about1CardText p {
        width: 90%;
    }

    .about1Text h1 {
        font-size: 24px;
    }


    .about1Text p {
        font-size: 18px;
    }


    .about1 {
        border-radius: 0px;
    }


    .homeForm {
        flex-direction: column-reverse !important;
        height: 100%;
    }


    .homeFormRight {
        width: 100%;
        margin-left: 0;
        margin-top: 2rem;
        margin-bottom: 2rem;
        justify-content: center;
        padding: 0;
    }



    .homeBtn {
        padding: 8px;
    }

    .section3 {
        height: 100%;
    }

    .homeFaq {
        height: 100%;
        margin-bottom: 6rem;
    }

    .section3Title h1 {
        font-size: 24px;
        padding: 0;
        margin: 4rem 0;
    }

    .section3Title h3 {
        width: 80%;
        font-size: 16px;
        font-weight: 400;
    }

    .boxCardHome {
        flex-direction: column !important;
        gap: 0;
    }
    .cardHome {
        width: 80%;
        height: 200px;
    }

    .cardTop {
        font-size: 36px;
    }
    .cardTop h1 {
        font-size: 36px;
    }

    .cardContent p {
        font-size: 16px;
        margin-bottom: 24px;
    }


}

