/* Header start */

.header {
    height: 88vh;
    /* max-width: 100%; */
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: #031e29;
    z-index: 1;
}


.headerLeft {
    position: relative;
    height: 100%;
    width: 100%;
}

.headerText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    text-shadow: 2px 2px #00000073;
    z-index: 10;
}

.headerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem 0;
    height: auto;
}

.headerText h1 {
    color: #E6AF4B;
    font-size: 52px;
    padding: 6px 0;
}

.headerText h2 {
    color: #ffffff;
    font-size: 32px;
    padding: 12px;
    font-weight: 600;
}

.headerText h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}



.headerRight {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.headerRight img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.8;
}

/* Header End */

/* Partner testimonial */
.partnerLogo {
    height: 100%;
    width: 100%;
}


/* About Start */
.about1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #042B3B;
    padding: 24px;
}


.about1Text {
    width: 100%;
    text-align: center;
    position: relative;
    padding: 12px 0;
}

.about1Text h1 {
    font-size: 36px;
    color: #E6AF4B;
    font-weight: 500;

}

.about1Text p {
    font-size: 24px;
    color: #ffffff;
    font-weight: 400;

}



.about1Cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 12px 0;

}

.about1Card {  
    position: relative;  
    width: 450px;
    height: 450px;
    border-radius: 10px;
    background: #3c3c3c;
    z-index: 2;
}

.about1Card:hover {
    background: #000000;
    transition: .3s ease-in;   
}

.about1Card img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    opacity: 0.4;
    z-index: -1;

}
  
  .about1CardText {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 12px;
    z-index: 3;
  }
  

  .about1CardText h1 {
    font-size: 24px;
    color: #E6AF4B;
    font-weight: 400;
    width: 70%;
    text-decoration: solid;
    text-shadow: 2px 2px 2px #5e5e5e;
  }
  
  
  .about1CardText p {
      color: #ffffff;
      font-size: 16px;
      padding: 12px;
      font-weight: 400;
      width: 60%;
  }


  .section1 {
    margin: 2rem 0;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
    gap: 2rem;
}

.section11 {
    margin: 2rem 0;
    display: flex !important;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 2rem;


}

.left11 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.left11 img {
    object-fit: cover;
    width: 100%;
}


.left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.left img {
    object-fit: cover;
    width: 100%;

}

  /* About End */


/* Section 3 start */
.section3 {
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgb(244, 246, 248);
}

.section3Title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 150px;
    width: 100%;
    text-align: center;
}

.section3Title h1 {
    color: #042B3B;
    font-size: 36px;
    padding: 8px;
    width: 80%;
    font-weight: 600;
}
.section3Title h3 {
    width: 70%;
    color: #042B3B;
    font-weight: 400;
    padding: 12px 0;
}

.boxCardHome {
    justify-content: center !important;
    gap: 1rem;
}


.cardHome {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 2px 2px #0000002b;
    margin-top: 12px;
    margin-bottom: 2rem;
    border-radius: 10px;
    position: relative;
}

.cardHome:hover {
    background-color: #d9d9d9;
}

.cardTop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    color: #E6AF4B;
    font-size: 72px;
    
}

.cardTop h1 {
    font-size: 84px;
    text-align: center;
    font-weight: 400;
    color: #E6AF4B;
}

.cardContent {  
    width: 100%;
    height: 50%;
}

.cardContent h3 {
    font-size: 18px;
    color: #042B3B;
}

.cardContent p {
    font-size: 16px;
    padding: 12px;
    color: #042B3B;
}







.rightAboutHome {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    

}
.rightAboutHome h3{
    font-size: 36px;
    line-height: 1.4;
    color: #E6AF4B;
    width: 80%;
    letter-spacing: -.03125rem;
}

.rightAboutHome p {
    font-size: 18px;
    line-height: 1.4;
    color: #ffffff;
    width: 80%;
    letter-spacing: -.03125rem;
    padding: 12px 0;
}

.rightAboutHome button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 12px;
    color: #E6AF4B;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #E6AF4B;
    text-align: center;
    cursor: pointer;
}

.rightAboutHome button:hover {
    background: none;
}

.sec4 {
    width: 100%;
    height: 550px;
    display: flex !important;
    flex-direction: row-reverse;
}
.sec4Left {
    flex: 1;
    width: 100%;
    height: 100%;
}

.sec4Left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sec4Right {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.sec4Right h1 {
    width: 80%;
    font-size: 24px;
    color: #E6AF4B;
    font-weight: 600;
    text-shadow: 1px 1px #00000079;

}

.sec4Right p {
    color: #042B3B;    
    font-size: 18px;
    width: 80%;
    padding: 12px 0;
    line-height: 1.5;
}

.sec4Btn {
    width: 80%;
}

.sec4Btn button {
    padding: 6px 12px;
    background-color: #E6AF4B;
    box-shadow: 0px 0px 5px #e6b04b95;
    color: #333333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sec4Btn button:hover {
    transform: scale(1.05);
    background-image: linear-gradient(to bottom, #E6AF4B, #F9D49C);    transition: 0.5s ease;
    box-shadow: 0px 0px 5px #F9D49C;
}






/* Home form */

.homeForm {
    display: flex !important;
    flex-direction: row !important;
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url(../../images/eas-bg.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-color: #042B3B;
    
}


.homeFormRight {
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2rem;
}

@media only screen and (max-device-width: 480px) {
    .homeForm {
      background-attachment: scroll;
      background-image: none;
    }
  }


@media only screen and (max-width: 1024px){ 
    .section1 {
        flex-direction: column;
        height: 100%;
    }

    .section11 {
        flex-direction: column;
        height: 100%;
    }

}

@media only screen and (max-width: 768px){ 



    
    .section2Header h1 {
        font-size: 36px;
    }

    .about1CardText {
        margin: 0;
    }

    .about1CardText p {
        font-size: 14px;
        width: 80%;
        overflow: hidden;

    }

    .rightAboutHome {
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }

    .rightAboutHome h3 {
        font-size: 32px;
        text-align: center;
        line-height: 2;
        width: 100%;
    }
}



@media only screen and (max-width: 480px) {

    .section1 {
        margin: 8rem 0 0 0;
        flex-direction: column;
        height: 100%;
    }

    .section11 {
        margin: 8rem 0;
        flex-direction: column;
        height: 100%;
    }
    .left11 {
        width: 100%;
        height: 100%;
        align-items: flex-end;
    }


    .header {
        flex-direction: column-reverse;
        height: 83vh;
    }
    .headerText {
        width: 100%;
        justify-content: flex-start;
        margin-top: 40px;
    }
    .headerText ul, .headerText li {
        width: 90%;
        font-size: 18px;
    }
    .headerText h1 {
        font-size: 36px;
        width: 90%;
        padding: 0;
    }
    .headerText h3 {
        width: 90%;
        font-size: 18px;
    }
    .headerText h2 {
        font-size: 16px;
        width: 90%;
    }
    .headerBtn {
        justify-content: center;
        margin-bottom: 2rem;
        font-size: 12px;
    }

    .headerLeft {
        display: flex;
    }










    .left {
        width: 100%;
        height: 100%;
        align-items: flex-end;
    }


    .rightAboutHome {
        width: 90%;
        padding: 20px 0;
        text-align: left;
        align-items: flex-start;
    }

    .rightAboutHome h3 {
        font-size: 28px;
        text-align: left;
        line-height: 2;
    }
    .rightAboutHome p {
        width: 90%;
    }
    .rightAboutHome button {
        text-align: center;
    }

    .section2 {
        flex-direction: row;
        height: 100%;
        margin: 4rem 0;
    }

    .section2Header h1 {
        font-size: 32px;
    }

    .section2BoxContainer {
        flex-direction: column;
        margin-top: 2rem;
    }

    .section2Box {
        flex-direction: row;

        width: 100%;
        height: 200px;
    }

    .top2 {
        width: 100%;
        height: 100%;
    }

    .btm2 {
        width: 100%;
        padding: 0 12px;
    }

    .btm2 h1 {
        display: none;
    }

    .btm2 h3 {
        font-size: 16px;
    }



    .about1Cards {
        flex-direction: column;
    }

    .about1Card {
        width: 100%;
        height: 300px;
    }

    .about1CardText {
        margin: 0;
    }

    .about1CardText h1 {
        width: 100%;
    }

    .about1CardText p {
        width: 90%;
    }

    .about1Text h1 {
        font-size: 24px;
    }


    .about1Text p {
        font-size: 18px;
    }


    .about1 {
        border-radius: 0px;
    }


    .homeForm {
        flex-direction: column-reverse !important;
        height: 100%;
    }


    .homeFormRight {
        width: 100%;
        margin-left: 0;
        margin-top: 2rem;
        margin-bottom: 2rem;
        justify-content: center;
        padding: 0;
    }



    .homeBtn {
        padding: 8px;
    }

    .section3 {
        height: 100%;
    }

    .section3Title h1 {
        font-size: 24px;
        padding: 0;
        margin: 4rem 0;
    }

    .section3Title h3 {
        width: 80%;
        font-size: 16px;
        font-weight: 400;
    }

    .boxCardHome {
        flex-direction: column !important;
        gap: 0;
    }
    .cardHome {
        width: 80%;
        height: 200px;
    }

    .cardTop {
        font-size: 36px;
    }
    .cardTop h1 {
        font-size: 36px;
    }

    .cardContent p {
        font-size: 16px;
        margin-bottom: 24px;
    }

    .sec4 {
        flex-direction: column-reverse;
        height: 100%;
        margin-bottom: 2rem;
    }

    .sec4Right h1{
        font-size: 24px;
    }

    .sec4Right {
        align-items: flex-end;
        text-align: right;
        padding: 0;

    }

    .sec4Right p {
        font-size: 16px;
        width: 90%;
    }

}

