.formInput {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
    margin-left: 12px;
    padding: 8px 0;
}

.formInputLabel {
    padding: 12px;
}

.formInputInput {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #E6AF4B;
    width: 60%;
}

/* button {
    border-radius: 10px;
    border: 1px solid #E6AF4B;
    background: rgb(11, 102, 138);
    color: white;
    padding: 12px 22px;
    margin-left: 12px;
    margin-top: 10px;
    cursor: pointer;
} */

/* button:hover {
    background: #042B3B;
} */


@media only screen and (max-width: 480px){
    .formInput {
        justify-content: flex-start;
    }



}

