.customclearance {
    height: 550px;
    max-width: 100%;
    display: flex;
    position: relative;
    background: #000000;
}

.customclearance img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.customclearanceText {
        width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 52px;
    color: #ffffff;
    text-shadow: 2px 2px #00000073;
}

.customclearanceContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;


}

.importTitle{
    /* margin: 12px;
    padding: 12px; */
    text-align: left;
}

.importTitle h1, h3 {
    font-weight: 600;
    padding: 12px;
    color: #333333;
}


.importTitle p {
    padding: 12px;
    line-height: 25.6px;
}

.importCc {
    margin: 12px 0;
    padding: 12px 0;
}

.importCc h1 {
    font-weight: 400;
    font-size: 24px;
}

.exportCc {
    margin: 12px 0;
    padding: 12px 0;
}

.exportCc h1 {
    font-weight: 400;
    font-size: 24px;
}

.customclearanceContent li {
    list-style-type: circle;
    padding: 8px 0;
}

.easCc {
    margin: 12px 0;
}

.easCc h1 {
    font-weight: 400;
    font-size: 24px;
}

.easCc p {
    padding: 12px;
    line-height: 2rem;
}

.easCc a {
    font-size: 18px;
    background-color: #E6AF4B;
    color: #ffffff;
    padding: 3px 6px;
    border-radius: 10px;
    margin:6px;
}


.customclearanceContentTitle {
    width: 100%;
    height: 100px;
    margin-top: 2rem;
}

.customclearanceContentTitle h1 {
    font-size: 32px;
    text-align: left;
    color: #E6AF4B;
    font-weight: bold;
    padding: 12px;
}

@media only screen and (max-width: 480px ){
    .customclearanceText {
        font-size: 36px;
    }

    .customclearanceContentTitle {
        height: 100%;
    }

    .customclearanceContentTitle h1 {
        font-size: 24px;
    }
    .importCc h1 {
        font-size: 18px;
        padding: 12px;
    }
}