.customclearanceContent {
    height: 100%;
    display: flex;
    position: relative;

}

.customclearanceContentTitle {
    margin-top: 12px;
    width: 100%;
    height: 100%;
}

.customclearanceContentTitle h1 {
    font-size: 32px;
    text-align: left;
    color: #042B3B;
    font-weight: bold;
    padding: 0 12px;
}

.customclearanceContentTitle h3 {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    color: #042B3B;
    padding: 0 12px;
}



.importCc {
    margin: 12px 0;
    padding: 12px 0;
}

.importCc h1 {
    font-weight: 400;
    font-size: 24px;
}

.exportCc {
    margin: 12px 0;
    padding: 12px 0;
}

.exportCc h1 {
    font-weight: 400;
    font-size: 24px;
}

.customclearanceContent li {
    list-style-type: circle;
    padding: 8px 0;
    color: #042B3B;

}



@media only screen and (max-width: 480px ){
    .customclearanceText {
        font-size: 36px;
    }

    .customclearanceContentTitle {
        height: 100%;
    }

    .customclearanceContentTitle h1 {
        font-size: 24px;
    }
    .importCc h1 {
        font-size: 18px;
        padding: 12px;
    }
}